body {
    width: fit-content;
    padding: 15px;
    border: 5px;
    margin: 15px;
    text-align: center;
    color: black;
}

img {
    border-radius: 10px;
    display: inline-block;
}

div p {
    background-color: palegoldenrod;
    border:black 1px dashed;
    margin: auto;
    margin-top: 10px;
    display: block;
    margin-bottom: 10px;
    padding: 10px;
}

#row{
    text-align: center;
}

h3{
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    display: block;
    font-weight: bold;
}

#erin p{
    background-color:#d4ebf2;
}
